/* Estilos gerais */
.edit {
    cursor: pointer;
    display: inline-block;
}

.like-button {
    z-index: 999;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 0;
    /* Ajusta para um leve deslocamento à direita */
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 150px;
    border-radius: 4px;
}

.dropdown-menu a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown-menu.show {
    display: block;
}

/* Media Query para telas pequenas (celulares) */
@media (max-width: 768px) {
    .dropdown-menu {
        right: 0;
        /* Ajusta o menu para ficar à esquerda em telas pequenas */
        width: 100%;
        /* Menu ocupa toda a largura */
    }

    .head .user {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .head .user h3 {
        font-size: 16px;
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .interaction-buttons span {
        margin: 5px 0;
    }
}

/* Media Query para tablets */
@media (max-width: 1024px) {
    .dropdown-menu {
        right: 0;
        /* Ajuste do menu */
        width: 130px;
        /* Ajuste da largura do menu */
    }

    .head .user {
        display: flex;
        flex-direction: column;
    }

    .head .user h3 {
        font-size: 18px;
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
    }
}

/* Media Query para telas grandes (wide screens) */
@media (min-width: 1200px) {
    .dropdown-menu {
        right: 0;
        /* Posição original do menu para telas grandes */
        width: 150px;
        /* Largura original do menu */
    }

    .head .user {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .head .user h3 {
        font-size: 20px;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-start;
    }
}

/* Modal de Comentários */
.create-comentario-modal {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    display: none;
}

.create-comentario-modal .card {
    background: var(--colour-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--colour-primary);
}

.create-comentario-modal .input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.create-comentario-modal .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.create-comentario-modal .input-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--colour-secondary);
    border-radius: 1rem 0 0 1rem;
    background: var(--colour-light);
}

.create-comentario-modal button {
    width: 10%;
    padding: 0.8rem;
    background: var(--colour-primary);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    transition: background 0.3s;
}

.create-comentario-modal button:hover {
    background: var(--colour-secondary);
}

.create-comentario-modal .comment-area {
    display: flex;
    flex-direction: row;
}

/* Responsividade */
@media screen and (max-width: 1200px) {
    .create-comentario-modal .card {
        width: 80vw;
    }
}

@media screen and (max-width: 992px) {
    .create-comentario-modal .card {
        width: 92vw;
    }
}


.comentarios {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.comentario {
    background: var(--colour-white);
    padding: 5px;
    margin-bottom: -3px;
    border: solid;
    border-width: 1px 1px 1px;
    border-radius: 4px 4px 0 0;
    text-align: start;
    display: -webkit-box;
    gap: 0.5rem;
}

/* Modal de Comentários */
.view-comentario-modal {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    display: none;
}

.view-comentario-modal .card {
    background: var(--colour-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--colour-primary);
}

/* Responsividade */
@media screen and (max-width: 1200px) {
    .view-comentario-modal .card {
        width: 80vw;
    }
}

@media screen and (max-width: 992px) {
    .view-comentario-modal .card {
        width: 92vw;
    }
}

.comments {
    cursor: pointer;
}